<footer class="bg-footerBg bg-no-repeat bg-cover border-t border-t-primary">
 <div class="container p-12">
   <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="flex flex-col items-center gap-y-2 font-bold">
      <img aly="بوتیک زیپ" src="images/logo/ZIPLogo.png" class="size-24">
      <h2 class="font-extrabold text-xl">بوتیک زیپ پلاس</h2>
      <p class="leading-9">
       آدرس:گیلان، رشت، محله مطهری(بین سوخته تکیه و مسجد صفی)، بعد از کوچه بازار مسگران، بلوار شهید مطهری، جنب پاساژ امیر
       طبقه همکف
      </p>
      <a href="tel:+981333222266">تلفن فروشگاه: ۰۱۳۳۳۲۲۲۲۶۶</a>
      <a href="https://wa.me/+989111342501">واتس اپ : ۰۹۱۱۱۳۴۲۵۰۱ </a>
    </div>
    <div>
      لیست محصولات
    </div>
    <div>
      نماد اعتماد
    </div>
   </div>
 </div>
  <p class="w-full h-px bg-black/10"></p>
  <div class="container py-5">
     <div class="w-full flex flex-col items-center md:flex-row md:flex-between text-zinc-600">
       <p>
         تمامی حقوق مادی و معنوی سایت و تصاویر محصولات نزد فروشگاه زیپ پلاس محفوظ است.</p>
         <a href="https://github.com/Ghorbani-Dev1985/" target="_blank">Developed By <span class="font-extrabold">GHORBANI.DEV</span></a>
     </div>
  </div>
</footer>
