@if (isLoading) {
  <app-product-loading></app-product-loading>
} @else{
<div class="flex flex-col md:flex-row md:flex md:justify-between md:items-start gap-5">
  <!-- Right Side -->
  <div class="w-full md:w-1/2 border rounded-lg p-2">
    <swiper-container class="mySwiper overflow-hidden rounded-lg"
    loop="false"
    space-between="10"
    navigation="true"
    autoplay-delay="4000"
    effect="flip"
    pagination-type="progressbar"
    thumbs-swiper=".mySwiper2"
    free-mode="true">
    @for (productImage of productImages; track $index) {
      <swiper-slide>
            <img [src]="productImage.src" [alt]="productImage.alt" class="rounded-lg">
          </swiper-slide>
    }
      </swiper-container>
      <swiper-container class="mySwiper2" loop="false" autoplay-delay="4000" space-between="10" slides-per-view="4" free-mode="true"
    watch-slides-progress="true">
    @for (productImage of productImages; track $index) {
      <swiper-slide>
        <img [src]="productImage.src" [alt]="productImage.alt" class="rounded-lg">
      </swiper-slide>
    }
    </swiper-container>
 </div>
  <!-- Left Side -->
 <div class="w-full sticky top-1 md:w-1/2 bg-gray-50 space-y-5 rounded-lg border-2 p-2">
   <h1 class="text-base md:text-4xl font-extrabold my-4">{{product.name}}</h1>
   <div class="flex items-center gap-x-1.5">
    @if (product.on_sale) {
      <p class="text-zinc-500 line-through">{{ product.price_html | extractOriginalPrice }}</p>
    }
    <p class="flex items-center gap-x-1 text-primary font-extrabold text-base md:text-3xl">
      {{ product.price | priceLocaleString }} <app-toman></app-toman>
    </p>
  </div>
  <p [innerHTML]="product.short_description | safeHtml" class="font-bold child:leading-10"></p>
  @if(product.stock_quantity === 1){
    <div class="flex-center gap-x-1 animate-pulse text-sky-500 bg-sky-100 rounded-lg p-1 font-extrabold text-base text-center my-5">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
      </svg>
      <p>
      فقط <span class="text-primary mx-1 text-lg">1</span>عدد در انبار موجود می باشد</p></div>
  }
    @for (productAttr of product.attributes; track $index) {
       <div>
      <div class="flex-center gap-x-1.5">
         <p class="badge">{{productAttr.name}}</p>
         <select [id]="productAttr.id" [(ngModel)]="selectedAttr[$index]" class="bg-white border border-secondary text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2">
           <option value="0" selected disabled>لطفا یکی از موارد را انتخاب نمایید</option>
           @for (productAttrOption of productAttr.options; track $index) {
             <ng-container>
               <option [value]="productAttrOption">{{productAttrOption}}</option>
             </ng-container>
           }
        </select>
      </div>
    </div>}
    <div class="flex-center gap-x-2">
      <div class="flex-between px-2 py-1 w-[102px] h-10 bg-white shadow-md rounded-lg text-primary">
        <button (click)="increaseQty()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
       </button>
       <span>{{quantity}}</span>
       @if(quantity ===1){
          <button class="text-rose-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
        </svg>
      </button>
        }  @else if (quantity > 1) {
        <button (click)="decreaseQty()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
          </svg>
        </button>
        }
      </div>
      <button (click)="addToCartHandler()" class="main-btn">افزودن به سبد</button>
    </div>
    <p class="w-full h-px bg-pink-200"></p>
    @if(product.sku !== "" ){
      <div class="flex items-center">
       <span class="badge">شناسه محصول</span>
       <span>{{product.sku}}</span>
      </div>
    }
     <div class="flex items-center">
      <span class="badge"> دسته بندی</span>
      @for (category of product.categories; track $index) {
        <span>{{category.name}} @if ($index < product.categories.length - 1) {,}</span>
      }
     </div>
     @if (product.tags.length > 0) {
        <div>
        <span class="badge">  برچسب</span>
        @for (tag of product.tags; track $index) {
          <span class="leading-9">{{tag.name}} @if ($index < product.tags.length - 1) {,}</span>
        }
      </div>
      }
 </div>
</div>
<div class="w-full h-px bg-gray-200 my-8"></div>
<app-related-products [relatedProductsIds]="relatedProductsIds"></app-related-products>
}
