@if (isLoading) {
  <app-loading></app-loading>
}@else {
  <div (click)="navigateToProduct(product.id , product.name)" class="flex flex-col cursor-pointer overflow-hidden group rounded-xl border">
    <div class="relative aspect-square overflow-hidden">
      <button class="absolute top-2 left-2 z-10 bg-white border border-gray-200 rounded-full p-1.5">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"/>
        </svg>
      </button>
      @if (product.on_sale) {
        <div class="absolute top-2 right-2 z-10 size-10 flex-center bg-green-100 text-green-800 text-sm font-bold rounded-full border border-green-400">
          {{ getDiscountPercentage(product.price_html, product.price) }}%
        </div>
      }
      <img [src]="product.images[0].src" [alt]="product.images[0].alt" class="object-cover w-full h-full group-hover:scale-110 transition-transform ease-in-out duration-1000"/>
    </div>
    <div class="flex flex-col items-center gap-y-3 px-2 py-3">
      <a (click)="navigateToProduct(product.id , product.name)" class="font-bold text-xs md:text-lg text-zinc-800 hover:text-zinc-500 transition-colors line-clamp-1">{{ product.name }}</a>
      <div class="flex-center gap-x-1.5">
        <p class="text-zinc-500 line-through">{{ product.price_html | extractOriginalPrice }}</p>
        <p class="flex items-center gap-x-1 text-primary font-extrabold text-xs md:text-xl">
          {{ product.price | priceLocaleString }} <app-toman></app-toman>
        </p>
      </div>
    </div>
  </div>
}

