/* You can add global styles to this file, and also import other style files */
@import url("./font.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    @apply p-0 m-0 box-border font-ShabnamFD;
  }
  html {
    @apply scroll-smooth font-ShabnamFD;
  }
  body {
    @apply bg-white font-ShabnamFD text-base text-textColor min-h-screen;
  }
  a{
    @apply hover:text-primary transition-colors
  }
}
@layer components {
  .mat-typography h1 {
    @apply font-ShabnamFD;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .smooth-transition {
    @apply transition-all duration-700;
  }
  .dir-ltr {
    text-align: left;
    direction: ltr;
  }
  .main-btn{
    @apply flex-center flex-1 h-10 rounded-lg bg-primary text-white border-2 border-primary hover:bg-white hover:text-primary transition-colors
  }
  .badge{
    @apply bg-pink-100 text-pink-800 text-xs font-medium me-1.5 p-2 rounded-lg border border-pink-400
  }
}
