/* You can add global styles to this file, and also import other style files */
@import url('./app/assets/fonts.css')
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  *{
    @apply p-0 m-0 box-border font-ShabnamFD;
  }
  html{
    @apply scroll-smooth font-ShabnamFD
  }
  body{
    @apply bg-gray-100 font-ShabnamFD text-base text-violet-950 min-h-screen
  }
  input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
}
h1,h2,h3,h4,h5,h6{
  @apply font-ShabnamFD
}


}
@layer components {
  .mat-typography h1{
    @apply font-ShabnamFD
  }
}

@layer utilities {
  .flex-center{
    @apply flex justify-center items-center
  }
  .flex-between{
    @apply flex justify-between items-center
  }
  .smooth-transition {
    @apply transition-all duration-700;
  }
  .dir-ltr{
    text-align: left;
    direction: ltr;
  }
}
