<div
  class="w-full flex flex-col items-center gap-y-4 my-8 border-b-2 border-b-gray-200">
  <h2
    class="text-xl font-extrabold text-primary -mb-[2px] pb-3 border-b-2 border-b-primary">
    محصولات زیپ پلاس
  </h2>
</div>
<h2></h2>
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
  @if (isLoading) {
  <div *ngFor="let _ of [].constructor(12); let i = index">
    <app-loading></app-loading>
  </div>
  }@else {
  <div *ngFor="let product of products; let i = index">
    <a
      [href]="product.slug"
      class="flex flex-col overflow-hidden group rounded-xl border">
      <div class="relative aspect-square overflow-hidden">
        <button
          class="absolute top-2 left-2 z-10 bg-white border border-gray-200 rounded-full p-1.5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
            />
          </svg>
        </button>
        @if (product. on_sale) {
        <div
          class="absolute top-2 right-2 z-10 size-10 flex-center bg-green-100 text-green-800 text-sm font-bold rounded-full border border-green-400"
        >
          {{getDiscountPercentage(product.price_html , product.price)}}%
        </div>
        }
        <img
          [src]="product.images[0].src"
          [alt]="product.images[0].alt"
          class="object-cover w-full h-full group-hover:scale-110 transition-transform ease-in-out duration-1000"
        />
      </div>
      <div class="flex flex-col gap-y-3 px-2 py-3">
        <a
          class="font-bold text-xs md:text-lg text-primary hover:text-pink-400 transition-colors line-clamp-1"
          [href]="product.slug"
          >{{ product.name }}</a>
          <div class="flex items-center gap-x-1.5">
            <p class="text-zinc-500 line-through">{{product.price_html | extractOriginalPrice}}</p>
           <p
          class="flex items-center gap-x-1 text-primary font-extrabold text-xs md:text-xl">
          {{ product.price | priceLocaleString }} <app-toman></app-toman>
        </p>
          </div>

      </div>
    </a>
  </div>
  }
  <div class="col-span-4 flex-center">
    <nav aria-label="Page navigation example">
      <ul class="flex items-center -space-x-px h-8 text-sm">
        <li>
         <button (click)="goFirstPage()" class="flex-center bg-secondary text-primary border border-primary text-base rounded-s-lg px-3 h-9">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
            <path fill-rule="evenodd" d="M13.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L11.69 12 4.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
            <path fill-rule="evenodd" d="M19.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06L17.69 12l-6.97-6.97a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
          </svg>
            <span class="ml-1.5">صفحه اول</span>
          </button>
       </li>
        <li>
          <button (click)="prevPage()" [disabled]="currentPage === 1" class="flex-center bg-secondary text-primary border border-primary text-base px-3 h-9">
            <svg class="size-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="mr-1.5">صفحه قبل</span>
          </button>
        </li>
        <li>
          <button (click)="nextPage()" class="flex-center bg-secondary text-primary border border-primary text-base rounded-e-lg px-3 h-9">
            <span class="ml-1.5">صفحه بعد</span>
            <svg class="size-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
